h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;  
  letter-spacing: 0.857143px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.535714px;
}

span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.607143px;
}

.App {
  margin: 20%;
  border: 1px solid #E7E7E8;
}

.tabs {
  padding: 20px;
}

.tabHead {
  margin-top: 3%;
  border: 1px none #E7E7E8;
  border-bottom-style: solid;
}
.innerTabs {
  border: 1px solid #E7E7E8;
}

.primary { 
  background: #006DFF;
}
.secondary { 
  background: #8E00FF;
  border: 2px solid #8E00FF;
}
.neutral { 
  background: #E7E7E8;
}
.tab{
  padding-left: 3%;
  padding-right: 3%;
}
.activeTab {
  border: 4px none #8E00FF;
  border-bottom-style: solid;
}

.button {
  margin-left: 80%;
  color: #FFF;
  padding: 6px 16px;
  border: 2px solid #006DFF;
  border-radius: 8px;
}